header a {
	color: black;
}
.header {
	padding-top: 20px;
	padding-bottom: 20px;
	background: white;
}
.menu {
	display: flex;
	margin-left: 120px;
}
.menu li,
a {
	list-style-type: none;
	text-decoration: none;
	font-size: 17px;
}
.menu li {
	margin-right: 31px;
}
.button {
	width: 150px;
	height: 43.5px;
	border: 1px solid #f7941e;
	box-sizing: border-box;
	border-radius: 5px;
	color: #f7941e;
	background: none;
	text-transform: uppercase;
	cursor: pointer;
	margin-right: 30px;
}
.button:hover {
	border: 1px solid #f7951e8e;
	color: #f7951e8e;
}
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav a {
	margin-left: 30px;
}