.registration__main {
	display: flex;
	height: 200px;
	justify-content: space-between;
	align-items: center;
	width: 800px;
	margin: 0 auto;
}
.container__background {
	background: #f7941e;
}
.sign__up h2 {
	font-size: 27px;
	font-weight: bolder;
}
.sign__up h3 {
	font-size: 27px;
	font-weight: normal;
}
.button__1 {	
	width: 160px;
	height: 45px;
	box-sizing: border-box;
	border-radius: 5px;
	color: white;
	background: #231f20;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	font-size: 14px;
}
.button__2 {
	width: 160px;
	height: 45px;
	box-sizing: border-box;
	border-radius: 5px;
	color: black;
	background: #f7941e;
	text-transform: uppercase;
	cursor: pointer;
	border: none;
	font-size: 14px;
	border: 1px solid #000000;
}
.button__1:hover {
	background: #231f20dc;
}
.button__2:hover {
	background: #e9e9e783;
}
